<h1>EDIT</h1>

<form action="" method="POST">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input value="{{currentUser.firstName}}" class="form-control" id="firstName"
            name="firstName">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input value="{{currentUser.lastName}}" class="form-control" id="lastName"
            name="lastName">
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <div class="d-flex gap-3">
            <input type="number" value="{{currentUser.dayOfBirth}}"
                class="form-control" name="dayOfBirth">
            <input type="number" value="{{currentUser..monthOfBirth}}"
                class="form-control" name="monthOfBirth">

            <input type="number" value="{{currentUser.yearOfBirth}}"
                class="form-control" name="yearOfBirth">
        </div>
    </div>
    <div class="mb-3">
        <label for="timeOfBirth" class="form-label">Time of birth</label>
        <input type="time" value="{{currentUser.timeOfBirth}}" class="form-control"
            id="timeOfBirth" name="timeOfBirth">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input value="{{currentUser.email}}" type="email" class="form-controL" id="email"
            name="email" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Update account</button>
</form>