<div class="d-flex gap-2">

  {{> sidebar}}

  <div style="width: 100vw" class="other-profile-page">

    <section class="header-other-profile">
      <div class="d-flex align-items-center">
        <img class="user-img" src="{{user.image}}" alt="User sun sign profile picture">
        <div>
          <h4>{{user.firstName}}</h4>
          <span class="d-flex astral-description">
            <div class="d-flex">
              <i class="bi bi-sun"></i>
              <p>{{user.sunSign.name}}</p>
            </div>
            <div class="d-flex">
              <i class="bi bi-moon"></i>
              <p>{{user.moonSign.name}}</p>
            </div>
            <div class="d-flex">
              <i class="bi bi-arrow-up"></i>
              <p>{{user.ascendantSign.name}}</p>
            </div>
          </span>
        </div>
      </div>

      <div>
      <button class="follow-btn btn text-danger" type="button" value="{{user.id}}">
        {{#isFollow userFollower=currentUser userFollowed=user}}
          <span>Unfollow</span>
          <i class="bi bi-heart-fill"></i>
        {{else}}
          <span>Follow</span>          
          <i class="bi bi-heart"></i>
        {{/isFollow}}
      </button>
      </div>

    </section>

    {{#mutualFollow userFollower=currentUser userFollowed=user}}
    <section>
      <div class="row compatibility-info"> 
        <div class="col-6">
          <div class="wrapper">
            <a href="#nav"><span>Love Compatibility</span></a>
          </div>
          <div class="expandable" id="nav">
            <h3 class="compatibility-percentage">{{compatibility.loveRating}}</h3>
            <p>{{compatibility.love}}</p>
          </div>
        </div>
        <div class="col-6">
          <div class="wrapper">
            <a href="#nav2"><span>Friendship Compatibility</span></a>
          </div>
          <div class="expandable" id="nav2">
            <h3 class="compatibility-percentage">{{compatibility.friendshipRating}}</h3>
            <p>{{compatibility.friendship}}</p>
          </div>
        </div>
      </div> 
    </section>
    {{else}}
      <p>Your are not friends with {{user.firstName}} yet</p>
    {{/mutualFollow}}

  </div>

</div>
