<div class="d-flex gap-2">

  {{> sidebar}}

  <div class="profile-page">

  <section class="header">
    <div class="d-flex align-items-center">
      <img class="user-img" src="{{currentUser.image}}" alt="User sun sign profile picture">
      <div>
        <h4>{{currentUser.firstName}}</h4>
        <span class="d-flex astral-description">
          <div class="d-flex">
            <i class="bi bi-sun"></i>
            <p>{{currentUser.sunSign.name}}</p>
          </div>
          <div class="d-flex">
            <i class="bi bi-moon"></i>
            <p>{{currentUser.moonSign.name}}</p>
          </div>
          <div class="d-flex">
            <i class="bi bi-arrow-up"></i>
            <p>{{currentUser.ascendantSign.name}}</p>
          </div>
        </span>
      </div>
    </div>

    <div>
      <a class="btn" style="background-color: #8FEBE0" href="/notifications">
      <span>Notifications</span>
      <i class="bi bi-bell"></i>
      </a>
      </div>
  </section>

  <section class="daily-advice">
    <h5 class="mb-3 text-center"><i>{{dailyHoroscope.description}}</i></h5>
    <h6>Today's luck...</h6>
    <div class="d-flex">
      <span><strong>Number: </strong>{{dailyHoroscope.lucky_number}}</span>
      <span><strong>Time: </strong>{{dailyHoroscope.lucky_time}}</span>
    </div>
  </section>

  <section class="astral-card">
    <div class="m-3">
      <i class="bi bi-sun"></i>
      <p class="mt-2"> {{currentUser.sunSign.sun}}</p>
    </div>
    <div class="m-3">
      <i class="bi bi-moon"></i>
      <p class="mt-2"> {{currentUser.moonSign.moon}}</p>
    </div>
    <div class="m-3">
      <i class="bi bi-arrow-up"></i>
      <p class="mt-2"> {{currentUser.ascendantSign.ascendant}}</p>
    </div>
  </section>

  {{!-- <h3>{{currentUser.firstName}} follows:</h3>
  <ul>
    {{#each currentUser.followeds as |follow|}}
      <li>{{follow.followed.firstName}}</li>
    {{/each}}
  </ul>

  <h3>Who follows {{currentUser.firstName}}:</h3>
  <ul>
    {{#each currentUser.followers as |follow|}}
      <li>{{follow.follower.firstName}}</li>
    {{/each}}
  </ul> --}}

  

  </div>
</div>
