<h1>Profile</h1>
<h4> {{currentUser.firstName}}</h4>
<h4> {{currentUser.sunSign.sun}}</h4>
<h4> {{currentUser.moonSign.moon}}</h4>
<h4> {{currentUser.ascendantSign.ascendant}}</h4>
<h4> {{dailyHoroscope.description}}</h4>
