<h1>Profile</h1>
<h4> {{currentUser.firstName}}</h4>
<h4> {{currentUser.sunSign.sun}}</h4>
<h4> {{currentUser.moonSign.moon}}</h4>
<h4> {{currentUser.ascendantSign.ascendant}}</h4>
<h4> {{dailyHoroscope.description}}</h4>


<h3>{{currentUser.firstName}} follows:</h3>
<ul>
    {{#each currentUser.followeds as |follow|}} 
          <li>{{follow.followed.firstName}}</li>  
    {{/each}}
</ul>

<h3>Who follows {{currentUser.firstName}}:</h3>
<ul>
    {{#each currentUser.followers as |follow|}} 
          <li>{{follow.follower.firstName}}</li>  
    {{/each}}
</ul>
