<div class="d-flex gap-2">

  {{> sidebar}}

  <section class="timeline-page stars-bg">
    <h1>See what's happening!</h1>

    {{#each posts as |post|}}
    <div class="post-structure">
      <div class="post-header">
        <div class="user-profile">
          <div class="user-info">
          <img class="tl-user-img" src="{{post.user.image}}" alt="User profile picture">
          <h4>{{post.user.firstName}}</h4>
          </div>
          <span class="d-flex astral-description pt-1">
              <div class="d-flex">
                <i class="bi bi-sun"></i>
                <p>{{post.user.sunSign.name}}</p>
              </div>
              <div class="d-flex">
                <i class="bi bi-moon"></i>
                <p>{{post.user.moonSign.name}}</p>
              </div>
              <div class="d-flex">
                <i class="bi bi-arrow-up"></i>
                <p>{{post.user.ascendantSign.name}}</p>
              </div>
            </span>
        </div>
        <div class="post-btns">
          {{#isOwner currentUser=../currentUser postOwnerId=post.user.id}}
            <button data-id="{{post.id}}" class="delete-post btn text-danger" type="submit">
              <i style="color:#2D5C6D" class="bi bi-trash3-fill"></i>
            </button>
          {{/isOwner}}
          <button class="like-btn btn text-primary" type="button" value="{{post.id}}">
            {{#hasLike currentUser=../currentUser post=post}}
              <i style="color:#8FEBE0" class="bi bi-heart-fill"></i>
            {{else}}
              <i style="color:#8FEBE0" class="bi bi-heart"></i>
            {{/hasLike}}
          </button>
        </div>
      </div>

      <div class="post-content mt-2">
        <p class="px-3">{{post.body}}</p>
        {{#if post.image}}
        <img class="post-img mb-3" style="width:300px" src="{{post.image}}" alt="Post image" data-bs-toggle="modal" data-bs-target="#exampleModal">
        {{/if}}
        <p class="px-3 text-muted"><small>Posted on {{post.createdAt}}</small></p>
      </div>
    </div>
    {{/each}}



<!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div> --}}
  </section>
  
</div>